{% extends "layout.html" %} {% load static %} {% block head_title %}Sign Out" {%
endblock %} {% block body %}
<h1>"Sign Out"</h1>

<p>'Are you sure you want to sign out?'</p>

{% comment %}
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %} {% if redirect_field_value %}
  <input
    type="hidden"
    name="{{ redirect_field_name }}"
    value="{{ redirect_field_value }}"
  />
  {% endif %}
  <button type="submit">'Sign Out'</button>
</form>
{% endcomment %}
<div class="flex justify-center items-center my-4">
  <a
    href="{% url 'account_logout' %}"
    class="py-2 px-4 bg-primary_red text-gray-100 font-medium text-lg rounded-md"
    >Log Out</a
  >
</div>

{% endblock %}
